body {
  text-align: center; }

h1 {
  margin-top: 50px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }
  h1 span {
    padding: 2.5px 7.5px;
    background: #FFA500;
    border-radius: 69% 34% 67% 46%;
    text-shadow: 3px 3px 7px white; }

form {
  display: inline-block;
  padding: 20px;
  border: 1px dashed #FFA500; }
  form .form-group {
    display: block;
    width: 100%;
    margin: 5px 0px; }
    form .form-group label {
      font-size: 16px;
      display: block;
      text-align: left;
      padding: 2.5px 0px; }
    form .form-group input[type=text] {
      width: 100%;
      border: 0px;
      border-bottom: 1px solid #000;
      font-size: 16px; }
      form .form-group input[type=text]:focus {
        outline: none; }
    form .form-group input[type=submit] {
      margin: 10px auto 0px auto;
      width: 100%;
      border: 0px;
      padding: 10px;
      background: gold;
      font-size: 16px;
      border-bottom: 5px solid #FFA500;
      border-radius: 5px;
      cursor: pointer; }
      form .form-group input[type=submit]:active {
        margin-top: 15px;
        border: 0px; }
      form .form-group input[type=submit]:focus {
        outline: none; }
