body {
  text-align: center; }

h1 span {
  padding: 2.5px 7.5px;
  background: #FFA500 !important;
  border-radius: 69% 34% 67% 46%; }

form {
  display: inline-block;
  padding: 20px;
  border: 1px dashed #FFA500; }
  form .form-group {
    display: block;
    width: 100%;
    margin: 5px 0px; }
    form .form-group label {
      display: block;
      text-align: left;
      padding: 2.5px 0px; }
